<div class="col-12">
    <div class="row">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">Filter 1</button>
            <button type="button" class="btn btn-secondary">Filter 2</button>

            <div class="btn-group" role="group">

              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other filters</button>

              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Filter 3</a>
                <a class="dropdown-item" href="#">Filter 4</a>
              </div>
            </div>
        </div>
</div>
<div class="row" style="margin-top: 30px;">
  <h3 class="clear-both">{{mainTitle}}</h3>
  <div #parent></div>
</div>
</div>
