<div class="col-12 experience">


<div *ngFor='let expe of confirmation'>{{expe.status}}</div>
  <form (ngSubmit)="_onSubmit(model); experienceForm.reset()" #experienceForm="ngForm">
      <div class="row"><div class="col-12">  <h2>Add a new experience !</h2></div></div>
    <div class="row">
    <div class="col-4">
        <div class="form-group">
          <label for="job">Job: </label>
            <input type="text" class="form-control" id="job" required
            [(ngModel)]="model.job" placeholder="job" name="job" #job="ngModel" />
            <div *ngIf="job.invalid && job.dirty" class="alert alert-danger">
                Job title is required.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
          <label for="company">Company: </label>
            <input type="text" class="form-control" id="company" required
            [(ngModel)]="model.company" placeholder="company" name="company" #company="ngModel"/>
            <div *ngIf="company.invalid && company.dirty" class="alert alert-danger">
                Company name is required.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
          <label for="began">Begin: </label>
            <input type="text" class="form-control" id="began" required
            [(ngModel)]="model.began" placeholder="jobtitle" name="began" #began="ngModel"/>
            <div *ngIf="began.invalid && began.dirty" class="alert alert-danger">
                this field is required.
            </div>
        </div>
    </div>
  </div>

  <div class="row">
  <div class="col-4">
      <div class="form-group">
        <label for="ended">End: </label>
          <input type="text" class="form-control" id="ended" required
          [(ngModel)]="model.ended" placeholder="ended" name="ended" #ended="ngModel" />
          <div *ngIf="ended.invalid && ended.dirty" class="alert alert-danger">
              this field is required.
          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
        <label for="city">City: </label>
          <input type="text" class="form-control" id="city" required
          [(ngModel)]="model.city" placeholder="city" name="city" #city="ngModel"/>
          <div *ngIf="city.invalid && city.dirty" class="alert alert-danger">
              City is required.
          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="form-group">
        <label for="description">Description: </label>
          <input type="text" class="form-control" id="description" required
          [(ngModel)]="model.description" placeholder="description" name="description" #description="ngModel"/>
          <div *ngIf="description.invalid && description.dirty" class="alert alert-danger">
              Description is required.
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12"><button [disabled]="experienceForm.invalid" class="btn btn-success">Add Experience</button></div>
</div>
</form>
<div #pro></div>
</div>
