
.new-list-component{
  margin: 10px 0;
  padding: 10px;
  background: #DBDBFF;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
}
.photos-desc{
  list-style: none;
  margin: 0;
  padding: 0;
}
products, products-desc{
  min-height: 1000px;
  display: block;
}
p{
  margin: 0;
  line-height: 18px;
}
.members h2{
  margin: 30px 0;
}
.members button{
  height: 38px;
  margin-top: 32px;
}
.clear-both{
  clear: both;
  width: 90%;
  margin-left: 15px;
}
.experiences-list-items, .skills-list-items{
  margin: 10px 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.card{
  margin-bottom: 30px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
